# Compiled Object files
*.o
*.obj

# Executables
*.exe
*.out
officehours

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Visual Studio files
*.vcxproj
*.vcxproj.*
*.sln
*.suo
*.user
.vs/

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db
